{% extends "base.html" %}

{% block content %}
<div class="post">
	<h1 class="post-title">{{ article.title }}</h1>
	<span class="post-date">{{ article.locale_date }}</span>
	<span class="post-tags">
	{% if article.tags %}
        {% for tag in article.tags %}
            <a href="{{ SITEUrL }}/tag/{{ tag|string|replace(" ", "-" ) }}.html">{{ tag }}</a>{% if not loop.last %} {% endif %}
          {% endfor %}
      {% endif %}
	</span>

	{{ article.content }}
	<a href="http://sharetodiaspora.github.io/?title=Your title here&url=http://www.example.com/some/path" target="_blank">
		<img src="http://sharetodiaspora.github.io/favicon.png" style="border: 0px solid;" />
	</a>
	<!-- Comments -->
	{% include 'comments.html' %}
	{% if ISSO_SERVER %}
		<hr /><section id="isso-thread"></section>
		<noscript>les commentaires de ce site utilisent javascript</noscript>
	{% endif %}
	<!-- /comments -->
</div>
<a class="home" href="/"><i class="fa fa-home"></i>Retour maison</a>

<div class="pagination">
{% if article.next_articles %}
    <span class="pagination-item newer">
        {% for article in article.next_articles %}
                    <a href="{{ SITEURL }}/{{ article.url }}">
                      <<  {{ article.title }}
                    </a>
            {% endfor %}
    </span>
{% endif %}

{% if article.prev_articles %}
    <span class="pagination-item older">
            {% for article in article.prev_articles %}
                    <a href="{{ SITEURL }}/{{ article.url }}">
                      {{ article.title }}  >>
                    </a>
            {% endfor %}
    </span>
{% endif %}
</div> <!-- /pagination -->
{% endblock %}
