{% extends "base.html" %}

{% block content %}
<div class="post">
	<h1 class="post-title">{{ article.title }}</h1>
	<span class="post-date">{{ article.locale_date }}</span>
	<span class="post-tags">
	{% if article.tags %}
        {% for tag in article.tags %}
            <a href="{{ SITEUrL }}/tag/{{ tag }}.html">{{ tag }}</a>{% if not loop.last %} {% endif %}
          {% endfor %}
      {% endif %}
	</span>

	{{ article.content }}

</div>
<a class="home" href="/"><i class="fa fa-home"></i>Retour maison</a>

{% endblock %}
